body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}


.WholePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 95vh;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.outputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 2.3px black;
    min-width: 35%;
    min-height: 80vh;
}





 .inactive {
    display: none;
}

.inputs input:disabled {
    border: none;
    background: none;
    color: black;
}


.experiencesInput {
    background-color: red;
}

.experienceForm {
    background-color: orange;
}