body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}
p {
    margin: 0;
}

h3 {
    margin: 0;
}

button {
    align-self: start;
    cursor: pointer;
    background-color: transparent;
    border: 2.3px solid black;
}


.WholePage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.inputs {
   display: flex;
   flex-direction: column;
   min-width: 50%;
    /* make inputs look pretty first then output */
    
}

.personalDetailsForm {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    
}

.inputs h3 {
    font-size: 1.5rem;
}


.add {
    font-size: 1rem;
}


.edit {
    border: 2.3px dashed black;
    font-size: 1rem;
}

.editIcon {
    border: none;
    padding: none;
    margin: none;
    font-size: 1rem;
}

.active {
    opacity: 1;
    transition: all 0.5s ease-out;
}

 .inactive {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.inputs input:disabled {
    border: none;
    background: none;
    color: black;
}

.inputs input {
    border: 2.3px solid black;
}

.inputs label {
    align-self: start;
}
.inputs textarea {
    border: 2.3px solid black;
}

.experiencesInput {
  display: flex;
  gap: 10px;
  align-items: center;
}

.experienceForm {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    transition: all 0.5s ease-out;
}


.formLabel {
    display: flex;
}